*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #D02752;

}
.container{
   width:40%;
   border-radius: 5px;
   background-color: #A8DF8E;
   padding:20px;
   text-align: center;
   box-shadow: 0px 0px 5px;
}
.container:hover{
    box-shadow: 5px 10px 25px 10px black;
}
.container input{
    width:350px;
    margin-top: 20px;
    height:30px;
}
.container label{
    display: block;
    margin-top:30px;
    font-size:20px
}
button{
    margin-top: 20px;
    background-color: green;
    color:white;
    border:none;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    font-size:15px;

}
h1{
    font-size: 35px;;
}
p{
    margin-top:20px;
    font-size: 20px;
    color:#980404;
}